#body {
    background-color: rgb(1, 44, 16);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

#title{
    position: absolute;
    top: 25px;
    left: 500px;
    font-size: 80px;
    color: white;
    z-index: 1;
}


#myCarousel {
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    }


.carousel-indicators {
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
}

.carousel-item {
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    height: 300px;
    width: 1400px;
    background-color: rgb(4, 51, 12);
    }



#img1{
     position: absolute; 
     left: 0px; 
    height: 300px;
    width: 1400px;
    }

#img2{
     position: absolute;
     left: 0px; 
    height: 300px;
    width: 1400px;
   }

#img3{
    position: absolute; 
    left: 0px; 
    height: 300px;
    width: 1400px;
   }


#form{
    position: absolute; 
    border-radius: 20px;
    z-index: 1;
    left: 700px; 
    top: 250px 
}


#input{
    border-radius: 50px;
    height: 75px;
    width: 500px;
}

#star{
    right: 0px;
    font-size: 60px;
    height: 50px;
    width: 50px;
    position: absolute;
    z-index: 1;
    color:rgb(4, 14, 0);
}

#label{
    position: absolute;
    left: 200px;
    top: 350px;
    z-index: 1;
    color: white;
}

#label2{
    position: absolute;
    left: 200px;
    top: 850px;
    z-index: 1;
    color: white;
}

#label3{
    position: absolute;
    left: 200px;
    top: 1260px;
    z-index: 1;
    color: white;
}

#card{
    display: inline-block;
    margin-right: 20px;
    position: relative; 
    left: 0px;
    top: 50px;
    border-radius: 30px;
    height: 400px;
    width: 300px;
}

#container{
    overflow-x: hidden;
    overflow-y: hidden;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch; 
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    height: 500px;
    width: 1600px;
    background-color: rgb(2, 70, 6);
    border-radius: 25px;
}


#containertwo{
   
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    height: 300px;
    width: 1600px;
    background-color: rgb(3, 63, 3);

}


#containerthree{
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    height: 500px;
    width: 1600px;
    background-color: rgb(12, 59, 24);
}

#stargazing{
    position: absolute;
    left: 200px;
     border-radius: 50%; 
    width: 300px;
    height: 300px;
}

#hiking{
    position: absolute;
    left: 500px;
    border-radius: 50%; 
    width: 300px;
    height: 300px;
}

#kayaking{
    position: absolute;
    left: 800px;
     border-radius: 50%; 
    width: 300px;
    height: 300px;
}

#camping{
    position: absolute;
    left: 1100px;
    border-radius: 50%; 
    width: 300px;
    height: 300px;
}

#horseback{
    position: absolute;
    left: 1400px;
    border-radius: 50%; 
    width: 300px;
    height: 300px;
}

#card-body {
    position: absolute;
    bottom: 0px;
}


#cardimage{
    position: absolute;
    top: 0px;
    border-radius: 20px;
    height: 250px;

}

#parkinfo {
    border-radius: 20px;
    position: absolute;
    left: 150px;
    top: 350px;
    height: 500px;
    width: 1650px;
    background-color: white;
    z-index: 4; 
}

#infoimage{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 250px;
    width: 450px;
}

#infoimage2{
    position: absolute;
    top: 0px;
    left: 450px;
    height: 250px;
    width: 450px;
   
}

#infoimage3{
    position: absolute;
    top: 250px;
    left: 0px;
    height: 250px;
    width: 450px;
    
}

#infoimage4{
    position: absolute;
    top: 250px;
    left: 450px;
    height: 250px;
    width: 450px;
   
}


#infotitle{
    position: absolute;
    left: 450px;
    z-index: 1;
}

#iframe{
    position: absolute;
    top: 1000px;
    left: 500px;
}

.hidden{
    visibility: hidden;
}

.nothidden{
    visibility: visible;

}

#infoactivities{
    position: absolute;
    top: 500px;
    left: 150px;
    height: 100px;
    width: 400px;
    text-align: center;
}

#infoweather{
    position: absolute;
    top: 250px;
    text-align: center;
}

#infohours{
    position: absolute;
    top: 70px;
    left: 265px;
    text-align: center;

}

.scrollable-div {
    width: 700px;
    height: 500px;
    overflow-y: auto;
    overflow-x: hidden; 
    border: 1px solid #ccc;
    padding: 10px; 
}

#scroll{
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 2;
    }

#containerfour {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 1000px;
    width: 300px;
    z-index: 1;
    background-color: rgb(249, 252, 252);
   
}

#parkbutton{
    position: absolute;
    right: 950px;
    top: 350px;
    height: 50px;
    width: 100px;
}
  
 
#left{
    height: 100px;
    width: 100px;
    position: absolute;
    left: 0;
    top: 500px;
    transform: translateY(-50%);
    }

#right{
    transform: rotate(175deg); 
    height: 100px;
    width: 100px;
    position: absolute;
    right: 0;
    top: 50%;
}